<header class="banner global" role="banner">
    <div class="nav-primary nav-right">
        <span id="main-navigation-link">
            <a href="#main-navigation">Jump to site nav</a>
        </span>
        <div class="logo">
            <h1 class="site-title">Cass Browne</h1>
            <p class="site-tag">Content Creator, Writer, Musician and Consultant</p>
        </div>

        <div class="header-details">
          <p class="header-details__item">
            <span class="header-details__label">Address:</span> 10 Wolseley Gardens, London W4 3LP
          </p>
          <p class="header-details__item">
            <span class="header-details__label">Mobile:</span> +44 (0) 7980 931 157
          </p>
          <p class="header-details__item">
            <span class="header-details__label">Email:</span> cass.browne@googlemail.com
          </p>
          <p class="header-details__item">
            <span class="header-details__label">Website:</span> www.cassbrowne.com
          </p>
        </div>
    </div>
</header>
